@import "const";
@import "utils";

/*Стилизация скроллбара*/
::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background-color: whitesmoke;

  box-shadow: inset -1px 0px 3px 1px #000000d4;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: auto;
  background: radial-gradient($mid-dark-blue 15%, $x-dark-blue);
  box-shadow: inset -1px 0px 3px 1px #000000;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  display: none;
}

::-webkit-resizer {
  background-color: initial;
}
//Стилизация заголовка
header {
  text-align: center;
  font-family: Large-Captions, serif;
  position: fixed;
  background: #343a48;
  z-index: 1;
  width: 101%;
  left: -1px;
  top: -1px;
  box-shadow: 0 8px 12px 3px #000000d4;
  color: #61dafb;
  font-size: $header-font-size;
  //Навигационное меню, кнопка
  #nav-menu {

    cursor: pointer;
    font-family: Large-Captions, serif;
    color: #61dafb;
    position: absolute;
    margin: 0 .5em;


  }
  //выпадающее меню, тело
  .dropdown_menu {
    font-family: Medium-Subcaptions, serif;
    transition: all .3s;
    font-size: 1.6rem;
    height: auto;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    max-width: 30vw;
    overflow: auto;
    margin: .5rem auto;

    &-item {
      color: #343a48 !important;
      border-bottom: 1px solid gray;

      &:hover {
        color: white !important;
      }

      &:last-child {
        border: none
      }
    }
  }
  //содержимое выпадающего меню
  .popup-content {
    .popup-arrow {
      background-color: #c4cad6 !important;
    }

    background: #c4cad6 !important;
    left: 5px !important;
  }

}
//подвал страницы
footer {
  background: white;
  min-height: 25vh;
  border-top: 1px solid gray;
  text-align: right;
  font-size: large;
  transition: color, background-color .4s;
  //блок информации об авторах
  #author {
    color: gray;
    font-size: small;
    text-align: left;
    padding: 1rem;
    p {
      margin: 0
    }
    ul {
      list-style: none;
      padding: 0;
    }
  }
}

p, div {
  font-family: Small-Text, serif;
}
//ссылки
a {

  transition: .4s;
  color: #7d19ff;

  &:hover {
    text-decoration: none !important;
    color: #ef4f8a !important;
  }
}
//кнопка начала
#start-btn {
  color: #20232a;
  background: #56c1de;

  &:hover {
    color: white;
    box-shadow: 0 0 16px 4px white;
    background-color: #20232a;
  }
}
//основное тело
#wrapper {
  background: white;
  padding-top: $header-font-size+$header-font-size;
  transition: color, background-color .4s;
  .content {
    width: 70vw;
    margin: 0 auto;
    padding-bottom: 15vh;
  }
}
//подключение шрифтов
@font-face {
  font-family: Large-Captions;
  src: url("fonts/Vienna-XLarge/Vienna-XLarge.eot"); /* IE9 Compat Modes */
  src: url("fonts/Vienna-XLarge/Vienna-XLarge.woff2") format("woff2"), /* Modern Browsers */
  url("fonts/Vienna-XLarge/Vienna-XLarge.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Vienna-XLarge/Vienna-XLarge.otf") format("opentype"), /* Open Type Font */
  url("fonts/Vienna-XLarge/Vienna-XLarge.ttf") format("truetype"), /* Safari, Android, iOS */
  url("fonts/Vienna-XLarge/Vienna-XLarge.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Medium-Subcaptions;
  src: url("fonts/AktivGrotesk/AktivGrotesk-Large.eot"); /* IE9 Compat Modes */
  src: url("fonts/AktivGrotesk/AktivGrotesk-Large.woff2") format("woff2"),/* Modern Browsers */
  url("fonts/AktivGrotesk/AktivGrotesk-Large.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/AktivGrotesk/AktivGrotesk-Large.otf") format("opentype"), /* Open Type Font */
  url("fonts/AktivGrotesk/AktivGrotesk-Large.svg") format("svg"), /* Legacy iOS */
  url("fonts/AktivGrotesk/AktivGrotesk-Large.ttf") format("truetype"), /* Safari, Android, iOS */
  url("fonts/AktivGrotesk/AktivGrotesk-Large.woff") format("woff"); /* Modern Browsers */
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Small-Text;
  src: url("fonts/Tengri/Tengri.eot"); /* IE9 Compat Modes */
  src: url("fonts/Tengri/Tengri.woff2") format("woff2"), /* Modern Browsers */
  url("fonts/Tengri/Tengri.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("fonts/Tengri/Tengri.otf") format("opentype"), /* Open Type Font */
  url("fonts/Tengri/Tengri.svg") format("svg"), /* Legacy iOS */
  url("fonts/Tengri/Tengri.ttf") format("truetype"), /* Safari, Android, iOS */
  url("fonts/Tengri/Tengri.woff") format("woff"); /* Modern Browsers */
  font-weight: bold;
  font-display: swap;
}
//анимация изменения положения
@keyframes back-to-front {
  from {
    z-index: 1;
  }
  50% {
    z-index: 4;
  }
  to {
    z-index: 20;
  }
}
//анимация вращения
@keyframes spin {
  0% {
    width: $electron-size;
    height: $electron-size;
    transform: translate(0, 0);
  }
  25% {
    width: $electron-size/1.2;
    height: $electron-size/1.2;
  }
  50% {
    width: $electron-size;
    height: $electron-size;
    transform: translate(0, $atom-size);
  }
  75% {
    width: $electron-size*1.2;
    height: $electron-size*1.2;
  }
  100% {
    width: $electron-size;
    height: $electron-size;
    transform: translate(0, 0);
  }
}

.wrapper {
  position: relative;
  text-align: center;
}

.white {
  color: white;
}
//задание стиля атому
.atom-container {
  position: relative;
  width: $atom-size;
  height: $atom-size;
  text-align: justify;
  margin: 4em auto;
  //стиль электронов
  @for $i from 0 to 30 {
    .electron-#{$i} {
      position: absolute;
      z-index: 100;
      width: $electron-size;
      height: $electron-size;
      margin-left: $atom-size/2-$atom-size/80;
      background: #49a3fb;

      background: radial-gradient(circle at $electron-size $electron-size, #61dafb, #1b313b);
      border-radius: 100%;
      animation: spin #{3000}ms cubic-bezier(0.28, 0.02, 0.7, 1.03) infinite;
      animation-delay: #{$i*350}ms;
    }

    .rotated-#{$i} {
      height: 100%;
      width: 100%;
      position: absolute;
      transform: rotate($i*6deg);
      animation: back-to-front #{3000}ms cubic-bezier(0.28, 0.02, 0.7, 1.03) infinite;
      animation-delay: #{$i*350}ms;
    }
  }

  //стиль ядра атома
  .core {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 100%;
    width: $atom-size/5;
    height: $atom-size/5;
    background: #61dafb;
    background: radial-gradient(circle at $atom-size/10 $atom-size/10, #62deff, #000000);
    z-index: 5;
  }
}

//заголовок
.caption {
  max-width: $atom-size*2;
  height: min-content;
  position: relative;
  color: white;
  font-family: Large-Captions, serif;
  margin: 0 auto 3rem;
  font-size: 4em;
}
//подзаголовок
.subtitle {
  font-family: Medium-Subcaptions, serif;
  font-size: 1.2em
}
//статья
.article {
  //заголовок статьи
  &__title {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
}
//страница с приветствием
.greeting {
  position: relative;
  text-align: center;
  padding-bottom: 5em;
}
//содержимое страницы
.page-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: large;
  text-align: justify;
  text-indent: 1.5em;
  font-family: Bitter_Pro, serif;
}

//содержимое контейнера кода
.code-container {
  position: relative;
  font-family: Consolas, serif;
  text-indent: 0;
  width: fit-content;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &.inline {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em;
    text-indent: initial;
    font-size: initial;
  }
}
//заметка
.note {
  padding: 0.5em;
  margin: 0.5rem 0;
  box-shadow: 0 0 4px 0 darkgrey;
  background-color: #95f5ffc4;
}
//фикс проблем с контейнером кода
.code-container {
  font-size: medium;
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &.inline {
    width: fit-content;
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
    text-indent: initial;
    font-size: initial;
  }
}
//стили вкладок
.react-tabs {
  //стили панели заголовков и заголовков вкладок
  &__tab-list {

    direction: rtl;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    padding-top: .25em;
    margin-bottom: 0;
    list-style: none;
    box-shadow: 0 0 1px 0 black;
    background: $light-dark-blue;
  }

  &__tab {
    cursor: pointer;
    &-panel {
      transition: max-height 1s;
      max-height: 5em;
      overflow: auto;
    }

    padding: .5em 1em .2em;
    text-indent: 0;
    background: #e0eaff;
    border-radius: 0.5em 0.5em 0 0;
  }

  &__tab-panel {
    &--selected {
      max-height: 35em;
    }
  }

  &__tab--selected {
    color: #495057;
    background-color: #fff;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    box-shadow: inset -2px 3px 4px 0px rgba(0, 0, 0, 0.5);
  }
}
//колонка с номаерами
.number-column {
  display: inline-block;
  background: inherit !important;
  position: absolute;
  margin-left: -3em;
  padding: 0 1em;
}
//кнопка
.btn {
  font-family: Medium-Subcaptions, serif !important;
  transition: all .5s;
  margin: .5rem;
  border: none !important;
  &__send {
    &:hover {
      background: #95f5ffc4 !important;
      color: $x-dark-blue !important;
    }
  }
}
//навигационная панель
.nav-panel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 2em;
  //иконка в навигационной панели
  .icon {
    margin: 0 .3rem .2rem;
    width: 1em;
    height: 1em;
    fill: currentColor;

    &__back {
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
  //навигационная кнопка
  .btn {
    color: white !important;
    background: $mid-dark-blue !important;
    border: none !important;
    box-shadow: 0 0 3px 0 black;

    &:hover {
      background: #95f5ffc4 !important;
      color: $x-dark-blue !important;
    }
  }
}
//элемент ввода
.input {
  .field__error{
    border:1px solid red;
  }
  &__error {
    color: red;
  }
}
//глобальная тема приложения
.theme {
  &__dark {
    background: $x-dark-blue!important;
    color: khaki!important;
    .note {
      background: $dark-sky-blue;
      color: $x-dark-blue;
    }
    .react-tabs {
      color: $x-dark-blue;
      &__tab-list {
        background: #8c8f96;
      }
    }
  }
}

.section {
  margin: 2em 0;
  &__title {
    width: 100%;
    padding-bottom: .5em;
    border-bottom: gray solid 1px;
    font-family: Medium-Subcaptions, serif;
    font-size: 1.5em
  }
}
//медиазапрос для адаптивного отображения элементов
@media screen and (max-width: 600px) {
  .dropdown_menu {
    max-width: 80vw !important;
  }
  .content {
    width: 92vw !important;
  }
}

