/*Константы*/
$atom-size: 20em;
$electron-size: $atom-size/40;
$header-font-size: 3em;

$x-dark-blue: #20232a;
$mid-dark-blue: #3e4655;
$light-dark-blue: #c9cfdb;

$sky-blue: #95f5ffc4;
$dark-sky-blue: #83abb0;
