@import "const";

/*Стили переключателя*/
.toggle-switch {
  padding-top: 1rem;
  position: relative;
  right: 1rem;

  label {
    margin: 0;
    padding-top: .4em
  }
  .label {
    display: inline-block;
    font-size: 1em;
    margin: .5em;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
.slider {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $sky-blue;
  transition: .4s;

  &:before {
    position: absolute;
    content: "";
    height: 1.6em;
    width: 1.6em;
    left: .2em;
    bottom: .2em;
    background-color: $mid-dark-blue;
    transition: .4s;
  }

  &.round {
    border-radius: 1em;

    &:before {
      border-radius: 1em;
    }
  }
}

input:checked + .slider {
  background-color: $mid-dark-blue;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
  background: white;
}


.lds-ring {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  border: 8px solid $mid-dark-blue;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $sky-blue transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
