html, body {

    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    overflow-y: scroll;
    background-color: #20232a!important;
}
body::-webkit-scrollbar{

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
    width: 100%;
}